body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,0.9668242296918768) 0%, rgba(70,245,252,0.958420868347339) 63%);
}
input{
    height:40px;
    margin:20px;
}
label{
    font-weight: 700;
}
li{
    list-style: none;
}
#contact-container{
    margin-left:30%;
}
ul{
    width:400px;
    height:50px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    margin:20px; 
}
#submit{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,0.9668242296918768) 0%, rgba(70,245,252,0.958420868347339) 63%);
}
li{
    padding: 20px;
    margin-left: 20%;
}
a{
   color: red;
   font-size:125%;
}
small{
    height:50px;
    width:50px;
    background-color:whitesmoke;
}
small:hover{
    background-color: whitesmoke;
    border-radius: 30px;
}
